* {
    font-family: "JetBrainsMono Nerd Font";
    border: 0px;
    border-radius: 0px;
    min-height: 5px; 
}

window#waybar {
    background-color: rgba(54,69,79,0.0);

}
#custom-appmenu {
    background-color: inherit;
    font-size: 16px;
    color: #faf0e6;
    border-radius: 15px;
    font-size:20px;
    padding: 0px 0px 0px 10px;
    margin: 6px 15px 6px 13px;
    opacity:1;
}

#workspaces {
    background: #094873;
    margin: 8px 15px 8px 0px;
    padding: 0px 6px;
    border-radius: 10px;
    border: 3px solid #f0fff0;  /*#89dceb;*/
    font-weight: bold;
    font-style: normal;
    opacity: 1;
    font-size: 15px;
    min-width: 100px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 3px;
    color: #ffe4e1;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
}

#workspaces button.active {
    padding: 0px 6px;
    margin: 3px 3px;
    color: #f0fff0;
    transition: all 0.5s ease-in-out;
    opacity:1.0;
    font-size: 15px;
}
#workspaces button:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity:1;
    transition: all 0.5s ease-in-out;

}
tooltip {
    border-radius: 10px;
    background-color: #094873;
    opacity: 1;
    padding:20px;
    margin: 0px;
    border: 3px solid white;
}

tooltip label {
    color: #f0fff0;
}


#tray {
background: #445682;
padding: 2px 10px 0px 10px;
margin: 8px 15px 8px 0px;
border-radius: 10px;
opacity:1;
border: 3px solid #f0fff0;
}


.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#clock {
    background-color: #fe6156;
    font-size: 16px;
    color: #f0fff0;
    border-radius: 10px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:1;
    border:3px solid #f0fff0;
}


#system  {
    background-color: #dc5367;
    font-size: 16px;
    color: #f0fff0;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:1;
    border: 3px solid #f0fff0;
    border-radius: 10px;
    min-width: 230px;

}

#bluetooth {
    padding: 0px 5px 0px 0px;
}

#pulseaudio {
    padding: 0px 5px 0px 5px;
}

#pulseaudio-slider slider {
     background-image: none;
     background-color: #f0fff0;
     min-width: 8px;
     border-radius: 20px;
}
#pulseaudio-slider trough {
    padding: 0px 0px; 
    min-width: 50px;
    background-image: none;
    background-color: #f0fff0;
    border-radius: 10px;

}
#pulseaudio-slider highlight {
    background-image: none;
    background-color: inherit; 
    color: #f0fff0;
    opacity: 1;
    min-height: 1px;
    border-radius: 10px;
}

#power {
    background-color:  #094873;
    font-size: 16px;
    color: #f0fff0;
    padding: 2px 15px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:1;
    border: 3px solid  #f0fff0;
    border-radius: 10px;
}

#backlight {
    padding: 0px 5px 0px 5px;

}

#battery {
    padding: 0px 5px 0px 5px;

}
#batter.good {
    color: #50c878;
    background-color: inherit;
}

#battery.warning {
    color: #f0e130;
    background-color: inherit;
}    

#battery.critical {
    color: #ff0038;
    background-color: inherit;
}	
#power-profiles-daemon {
    padding: 0px 5px 0px 5px;

}

#network {
background-color: #888199;
font-size: 16px;
color: #f0fff0;
border-radius: 15px;
padding: 2px 10px 0px 10px;
margin: 8px 15px 8px 0px;
opacity:1;
border: 3px solid #f0fff0;
border-radius: 10px;
}

@keyframes blink {
    to {
        background-color: inherit;
        color: #eff1f5;
    }
}





#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
